*{
    margin: 0;
    padding: 0;
}
.content {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-categorias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    width: 70%;
    height: 400px;
    flex-direction: row;
    gap: 10px;
}